<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Ajouter un membre</h1>
        <button class="button button-clear button-positive" ng-click="closeAddMember()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <button class="button button-full button-balanced" ng-click="addMember()" >
            <i class="ion-android-add-circle"></i>
            <span>  Ajouter</span>
        </button>
    </ion-content>
</div>