<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Ajouter une serrure</h1>
        <button class="button button-clear button-positive" ng-click="closeAddLock()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Portail Ingésup
            </li>
        </div>
    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-balanced" ng-click="doAddLock()">
                <i class="ion-checkmark"></i>
                <span>  Sauvegarder</span>
            </button>
        </div>
    </div>
</div>