<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Que voulez-vous faire ?</h1>
        <button class="button button-clear button-positive" ng-click="closeAskGroup()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

            <button class="button button-full button-positive" ng-click="joinGroup()">
                <i class="ion-android-search"></i>
                <span>  Rejoindre un groupe</span>
            </button>

            <button class="button button-full button-balanced" ng-click="newGroup()">
                <i class="ion-android-add-circle"></i>
                <span>  Créer un nouveau groupe</span>
            </button>

    </ion-content>
</div>