<ion-view>
    <ion-header-bar>
        <a ng-click="gotoLocks()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition du groupe</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logOut()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">

            <label class="item item-input">
                <span class="input-label group-title">#G25R:</span>
                <input type="text" placeholder="Nom du groupe" value="Groupe 1">
            </label>
        </div>

        <li class="item" ng-repeat="lock in locks">
            <button class="button button-small button-icon group-list" ng-click="removeTask($index)">
                <i class="icon ion-android-cancel group_color"></i>
            </button>
            {{lock.id}} -
            <i class="ion-ios-mic"></i>
            <i class="ion-ios-bell"></i>
            <i class="ion-ios-videocam"></i>
            <span class="group-marginitem-title">{{lock.title}}</span>
        </li>
        <br>

    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-positive" ng-click="goToManageMembers()">
                <i class="ion-person-stalker"></i>
                <span>  Gestion des membres</span>
            </button>
            <button class="button button-full button-balanced" ng-click="askLock()">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter serrure</span>
            </button>
        </div>
        <div class="button-bar">
            <button class="button button-outline button-assertive" ng-click="deleteGroup(group)" >
                <i class="ion-ios-trash"></i>
                <span>  Supprimer le groupe</span>
            </button>
        </div>
    </div>
</ion-view>