<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Modifier mot de passe</h1>
        <button class="button button-clear button-positive" ng-click="closeEditPassword()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="doEditPassword()">
            <label class="item item-input item-floating-label">
                <span class="input-label">Mot de passe actuel:</span>
                <input type="text" placeholder="Mot de passe actuel" ng-model="registerData.password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Nouveau mot de passe:</span>
                <input type="text" placeholder="Nouveau mot de passe" ng-model="registerData.newPassword">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Confirmer nouveau mot de passe:</span>
                <input type="text" placeholder="Confirmer nouveau mot de passe" ng-model="registerData.confirmNewPassword">
            </label>

            <button class="button button-full button-balanced" type="submit">
                <i class="ion-checkmark"></i>
                <span>Valider</span>
            </button>
        </form>
    </ion-content>
</div>