<ion-view cache-view="false">
    <ion-header-bar>
        <a ng-click="goToLocks()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition du groupe</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logout()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">

            <label class="item item-input">
                <span class="input-label group-title">#{{group.code}}:</span>
                <input type="text" placeholder="Nom du groupe" value="{{group.name}}">
            </label>
        </div>


        <edit-lock-group code="{{group.code}}" id="{{group.code}}" class="block"> </edit-lock-group>

        <br>

    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-positive" ng-click="goToManageMembers()">
                <i class="ion-person-stalker"></i>
                <span>  Gestion des membres</span>
            </button>
            <button class="button button-full button-balanced" ng-click="askLock()">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter serrure</span>
            </button>
        </div>
        <div class="button-bar">
            <button class="button button-outline button-assertive" ng-click="deleteGroup(group)" >
                <i class="ion-ios-trash"></i>
                <span>  Supprimer le groupe</span>
            </button>
        </div>
    </div>
</ion-view>