<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Récupération mot de passe</h1>
        <button class="button button-clear button-positive" ng-click="closeForgetPassword()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Email">
        </label>

        <button class="button button-full button-balanced" ng-click="resetPassword()" disabled>
            <i class="ion-android-sync"></i>
            <span>Réinitialiser le mot de passe</span>
        </button>

    </ion-content>
</div>