<ion-view>
    <ion-header-bar>
        <a ng-click="gotoLocks()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition du groupe</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logOut()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">

            <!-- CSS A REVOIR dans le fichier scss.-->
            <label class="item item-input">
                <span class="input-label" style="font-weight:bold;width:10%" >#G25R:</span>
                <input type="text" placeholder="Nom du groupe" value="Groupe 1">
            </label>
        </div>

        <!-- CSS A REVOIR dans le fichier scss.-->
        <li class="item" ng-repeat="lock in locks">
            <button class="button button-small button-icon" ng-click="removeTask($index)" style="float:right;vertical-align:middle;display:inline-block;">
                <i class="icon ion-android-cancel" style="color:#EC4545;"></i>
            </button>
            {{lock.id}} -
            <i class="ion-ios-mic"></i>
            <i class="ion-ios-bell"></i>
            <i class="ion-ios-videocam"></i>
            <!-- CSS A REVOIR dans le fichier scss.-->
            <span style="margin-left:10px;">{{lock.title}}</span>
        </li>
        <br>

    </ion-content>
    <div class="footer">

        <button class="button button-outline button-assertive" style="display:block;margin:auto;">
            <i class="ion-close"></i>
            <span>  Supprimer le groupe</span>
        </button>

        <div class="button-bar">
            <button class="button button-full button-positive">
                <i class="ion-person-stalker"></i>
                <span>  Gestion des membres</span>
            </button>
            <button class="button button-full button-balanced">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter serrure</span>
            </button>
        </div>
    </div>
</ion-view>