<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Rejoindre un groupe</h1>
        <button class="button button-clear button-positive" ng-click="closeJoinGroup()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list">
            <form ng-submit="requestJoinGroup(group)">
                <label class="item item-input">
                    <input type="text" placeholder="#TAG du groupe" ng-model="group.tag">
                </label>
            </form>
            <button class="button button-full button-positive">
                <i class="ion-android-search"></i>
                <span>  Rechercher le groupe</span>
            </button>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    #G25R
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-balanced" disabled>
                <i class="ion-android-unlock"></i>
                <span>  Demander l'accès</span>
            </button>
        </div>
    </div>
</div>