<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Rejoindre un groupe</h1>
        <button class="button button-clear button-positive" ng-click="closeJoinGroup()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list">
            <form ng-submit="requestJoinGroup()">
                <label class="item item-input">
                    <input type="text" placeholder="#TAG du groupe (sans le #)" ng-model="group.code" ng-focus="reinitCase($event)">
                </label>

                <div class="button-bar">
                    <button id="btValidate3" class="button button-full button-balanced" type="submit">
                        <div id="msgNormal3">
                            <i class="ion-android-unlock"></i>
                            <span>  Demander l'accès</span>
                        </div>
                        <div id="msgError3">
                            <i class="ion-alert-circled"></i>
                            <span>   {{msgBtError}}</span>
                        </div>
                    </button>
                </div>

            </form>
        </div>
    </ion-content>
</div>