<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Rejoindre un groupe</h1>
        <button class="button button-clear button-positive" ng-click="closeJoinGroup()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list">
            <form ng-submit="requestJoinGroup()">
                <label class="item item-input">
                    <input type="text" placeholder="#TAG du groupe" ng-model="group.code">
                </label>

                <div class="button-bar">
                    <button class="button button-full button-balanced" type="submit">
                        <i class="ion-android-unlock"></i>
                        <span>  Demander l'accès</span>
                    </button>
                </div>

            </form>
        </div>
    </ion-content>
</div>