<ion-view>
    <ion-header-bar>
        <a class="button button-icon icon ion-settings" ng-click="gotoAccount()"></a>
        <h1 class="title">Accueil</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logOut()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
            <div class="item item-divider">
                #G25R: Groupe 1
                <!-- CSS A REVOIR dans le fichier scss.-->
                <div style="float:right;">
                    <button class="button-clear ion-wrench" style="color:black" ng-click="gotoEditGroup()" > Editer</button>
                </div>
            </div>
            <div class="list">
                <div class="row item" ng-repeat="lock in locks">
                    <!-- CSS A REVOIR dans le fichier scss.-->
                    <div class="col col-80" ng-mousedown="changeColor($event,'#D9E5F3')" ng-mouseleave="changeColor($event,'')" ng-click="gotoLock()" style="cursor:pointer;">
                        {{lock.id}} -
                        <i class="ion-ios-mic"></i>
                        <i class="ion-ios-bell"></i>
                        <i class="ion-ios-videocam"></i>
                        <!-- CSS A REVOIR dans le fichier scss.-->
                        <span style="margin-left:10px;">{{lock.title}}</span>
                    </div>
                    <div class="col col-10">
                        <!-- CSS A REVOIR dans le fichier scss.-->
                        <label class="toggle toggle-balanced" style="cursor:pointer">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="col col-10">
                        <span ng-click="" class="badge badge-energized">{{lock.id}}</span>
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                #G28B: Ingesup
                <!-- CSS A REVOIR dans le fichier scss.-->
                <div style="float:right;">
                    <button class="button-clear ion-android-walk" style="color:#000000" ng-click="exitGroup()" > Quitter</button>
                </div>
            </div>
            <div class="item item-divider">
                Serrures sans groupe:
            </div>
    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-positive" ng-click="askGroup()">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter groupe</span>
            </button>
            <button class="button button-full button-balanced" ng-click="newLock()">
                <i class="ion-android-add-circle"></i>
                <span>  Nouvelle serrure</span>
            </button>
        </div>
    </div>
</ion-view>