<ion-view cache-view="false" view-title="Lock">
    <ion-header-bar>
        <div class="buttons">
            <a ng-click="gotoLocks()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        </div>
        <div class="title">Serrure : {{lock.name}}</div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
               Nom : &nbsp;
               <input type="text" value="{{lock.name}}" ng-model="lock.name" ng-change="updateLock(lock);" ng-if="group.admin">
                <label ng-if="!group.admin">{{lock.name}}</label>
           </label>
           <label> </label>
           <label class="item item-input">
               Adresse MAC : &nbsp;
               <input type="text" value="{{lock.address_mac}}" ng-model="lock.address_mac" ng-change="updateLock(lock);" ng-if="group.admin">
               <label ng-if="!group.admin">{{lock.address_mac}}</label>

           </label>
        </div>
        <div class="list">
            <li class="item item-toggle">
                <label class="toggle toggle-balanced cursor-point">
                    <input type="checkbox" ng-model="lock.state" ng-change="updateLock(lock);">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <i ng-hide="lock.state">Serrure verrouilée</i>
                <i ng-hide="!lock.state">Serrure déverrouillée</i>
            </li>
        </div>

        <ul class="list">
            <li class="item item-toggle">
                <label class="toggle toggle-balanced cursor-point" ng-if="group.admin">
                    <input type="checkbox" ng-model="lock.has_micro" ng-change="updateLock(lock);" >
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <p class="item-icon-left">
                    <i ng-hide="!lock.has_micro" class="icon ion-ios-mic"></i>
                    <i ng-hide="lock.has_micro" class="icon ion-ios-mic-outline"></i>
                    Microphone
                </p>
            </li>

            <li class="item item-toggle">
                <label class="toggle toggle-balanced cursor-point" ng-if="group.admin">
                    <input type="checkbox" ng-model="lock.has_bell" ng-change="updateLock(lock);">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <p class="item-icon-left">
                    <i ng-hide="!lock.has_bell" class="icon ion-ios-bell"></i>
                    <i ng-hide="lock.has_bell" class="icon ion-ios-bell-outline"></i>
                    Sonette
                </p>
            </li>

            <li class="item item-toggle">
                <label class="toggle toggle-balanced cursor-point" ng-if="group.admin">
                    <input type="checkbox" ng-model="lock.has_camera" ng-change="updateLock(lock);">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <p class="item-icon-left">
                    <i ng-hide="!lock.has_camera" class="icon ion-ios-videocam"></i>
                    <i ng-hide="lock.has_camera" class="icon ion-ios-videocam-outline"></i>
                    Camera
                </p>
            </li>

            <li class="item item-toggle">
                <label class="toggle toggle-balanced cursor-point" ng-if="group.admin">
                    <input type="checkbox" ng-model="lock.is_register" ng-init="" ng-change="updateLock(lock);">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <p class="item-icon-left">
                    <i ng-hide="!lock.is_register" class="icon ion-ios-paper"></i>
                    <i ng-hide="lock.is_register" class="icon ion-ios-paper-outline"></i>
                    Logs
                </p>
            </li>

        </ul>
        <label class="item font-bold">
            Associer aux groupes :
        </label>
        <div ng-repeat="group in groups">
                <div class="item item-icon-left">
                    <i class="ion-ios-people"></i>
                    {{group.name}}
                </div>
            </label>
        </div>

        <div><br></div>
        <ul class="list">
            <li class="item"> Mise à jour le : {{lock.updatedAt}}</li>
            <li class="item"> Créer le : {{lock.createdAt}} </li>
        </ul>
    </ion-content>
</ion-view>
