<ion-view view-title="Lock">
    <ion-header-bar>
        <div class="buttons">
            <a ng-click="gotoLocks()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="item item-avatar">
            <img src="../img/Lock.svg">
            <h2>Serrure X</h2>
            <p>XLM5mPG</p>
        </div>
        <!--<div class="row">-->
        <div class="list">
            <li class="item item-toggle">

                <label class="toggle toggle-balanced" style="cursor:pointer">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                Ouvert

            </li>
        </div>


            <!--<div class="col col-100">-->
                <!--<label class="toggle toggle-balanced" style="cursor:pointer">-->
                    <!--<input type="checkbox">-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</div>-->
            <!--Ouvert-->
        <!--</div>-->

        <ul class="list">

            <p class="item item-icon-left">
                <i class="icon"></i>
                <i class="ion-ios-mic"></i>
                Microphone
            </p>

            <p class="item item-icon-left">
                <i class="icon ion-ios-circle-outline"></i>
                <i class="ion-ios-bell"></i>
                Sonette
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-ios-checkmark"></i>
                <i class="ion-ios-videocam"></i>
                Camera
            </p>
            <p class="item item-icon-left">
                <i class=""></i>
                <i class="ion-ios-paper"></i>
                Logs
            </p>
        </ul>

        <ul class="list ">
            <li class="item"> Mise à jour le : XXXX</li>
            <li class="item"> Créer le : XXXX </li>
        </ul>
    </ion-content>
</ion-view>
