<ion-view>
    <ion-header-bar>
        <a class="button button-icon icon ion-settings" ng-click="gotoAccount()"></a>
        <h1 class="title">Accueil - {{user.email}}</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logout()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div ng-repeat="group in groups" ng-if="groups[$index].validate">
                <div class="item item-divider" ng-click="showLocks('{{group.group.code}}')">
                    #{{group.group.code}}: {{group.group.name}}
                    <div class="right">
                        <button ng-hide="!group.admin" class="button-clear ion-wrench black" ng-click="gotoEditGroup({{$index}})"> Editer </button>
                        <button ng-hide="group.admin" class="button-clear ion-android-walk black" ng-click="exitGroup({{$index}})"> Quitter </button>
                    </div>
                </div>
                <lock-group code="{{group.group.code}}" id="{{group.group.code}}" class="block"></lock-group>
            </div>
            <br>
            <div class="item item-divider bgEnergized" ng-if="nbGroupWait > 0">
                Groupe en attente de validation:
            </div>
            <div data-ng-repeat="group in groups" ng-if="!groups[$index].validate">
                <div class="item item-divider">
                    #{{group.group.code}}: {{group.group.name}}
                    <div class="right">
                        <button class="button-clear ion-android-walk black"> Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </ion-content>
    <div class="footer">
        <div class="button-bar">
            <button class="button button-full button-positive" ng-click="askGroup()">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter groupe</span>
            </button>
            <button class="button button-full button-balanced" ng-click="newLock()">
                <i class="ion-android-add-circle"></i>
                <span>  Nouvelle serrure</span>
            </button>
        </div>
    </div>
</ion-view>