<ion-view>
    <ion-header-bar>
        <div class="buttons">
            <a href="#" class="button icon-left ion-power  button-clear button-dark" ng-click="closeLogin()">Déconnexion</a>
        </div>
        <h1 class="title">Gestion des serrures</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="lock in locks">
                {{lock.id}} -
                <a class="item-icon-right ion-ios-mic" href="#"></a>
                <a class="item-icon-right ion-ios-bell" href="#"></a>
                <a class="item-icon-right ion-ios-videocam" href="#"></a>

                {{lock.title}}

                <a class="item-icon-right" href="#">
                    <span class="badge badge-assertive">{{lock.id}}</span>
                </a>

                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>