<ion-view>
  <ion-header-bar align-title="center" class="bar">
  <h1 class="title">Accueil</h1>
</ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin(myUser)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email ou Pseudo" ng-model="myUser.identifier" ng-focus="reinitCase($event)">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Mot de passe" ng-model="myUser.password" ng-focus="reinitCase($event)">
        </label>
      </div>
      <button id="btConnexion" class="button button-full button-balanced" type="submit">
          <div id="successCo">
              <i class="ion-android-arrow-dropright-circle"></i>
              <span>   Se Connecter</span>
          </div>
          <div id="errorCo">
              <i class="ion-alert-circled"></i>
              <span>   {{msgBtConnexion}}</span>
          </div>
      </button>
    </form>
    <button class="button button-clear button-positive login-marginblock" ng-click="forgetPassword()" >Mot de passe oublié</button>
  </ion-content>
  <div class="bar bar-footer bar-positive cursor-point" ng-click="goToRegister()">
    <div class="title">
        <i class="ion-compose"></i>
        <span>   Inscription</span>
    </div>
  </div>
</ion-view>
