<ion-view>
  <ion-header-bar align-title="center" class="bar">
  <h1 class="title">Accueil</h1>
</ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Mot de passe" ng-model="loginData.password">
        </label>
        <button class="button button-full button-balanced" type="submit">
            <i class="ion-android-arrow-dropright-circle"></i>
            <span>   Se connecter</span>
        </button>
      </div>
    </form>
    <!-- CSS A REVOIR... le mettre dans scss !!! -->
    <button style="margin:auto;display:block;" class="button button-clear button-positive" ng-click="forgetPassword()" >Mot de passe oublié</button>
  </ion-content>

    <!-- CSS A REVOIR... le mettre dans scss !!! -->
  <div class="bar bar-footer bar-positive" ng-click="gotoRegister()" style="cursor:pointer">
    <div class="title">
        <i class="ion-compose"></i>
        <span>   Inscription</span>
    </div>
  </div>
</ion-view>


