<ion-view cache-view="false" view-title="Logs">
    <ion-header-bar>
        <div class="buttons">
            <a ng-click="goToLock()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        </div>
        <h1 class="title">Logs de {{lock.name}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <form ng-submit="findByDate(date)" class="item item-input-inset">
                <div class="col col-40">
                    Date :
                    <label class="item-input-wrapper">
                        <input type="date" ng-model="date.start">
                    </label>
                </div>
                <div class="col col-40">
                    Date jusqu'à :
                    <label class="item-input-wrapper">
                        <input type="date" ng-model="date.end" >
                    </label>
                </div>
                <button class="button button-positive" type="submit">
                    <i class="icon ion-ios-search-strong"></i>
                </button>
            </form>

            <div class="col col-100">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Filtre :
                        </div>
                        <select ng-model="filter" ng-change="filtrate(filter);">
                            <option selected> -- </option>
                            <option>Ouverture</option>
                            <option>Fermeture</option>
                            <option>Modification</option>
                            <option>Ajouté</option>
                            <option>Retiré</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <ion-item ng-repeat="log in logs" item="log">
            <label style="font-size:13px;">{{log.createdAt}} : <span style="font-size:11px;">{{log.message}} par <strong>{{log.user.username}}</strong>.</span></label>
        </ion-item>
    </ion-content>
</ion-view>