<ion-view cache-view="false" view-title="manageMember">
    <ion-header-bar>
        <a ng-click="gotoEditGroup()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition des membres</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logOut()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="button-bar">

        </div>

      <ion-list>
        <ion-item class="bgDark light">
            <span style="display:inline;line-height:3em;">#{{group.code}}: {{group.name}} -  {{users.length}} Membre(s)</span>
            <button class="button button-balanced right" ng-click="addMember();">
                <i class="ion-android-add-circle"></i>
                <span>  Ajouter un membre</span>
            </button>
        </ion-item>
        <ion-item ng-repeat="user in users" item="user">

            <div class="row">
                <label class="col col-50">
                <span>{{ user.email }}</span>
                </label>
                <div class="col col-30" >
                    <label class="toggle toggle-balanced cursor-point">
                        <input type="checkbox" ng-model="user.admin" ng-change="editRight(user)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    <i class="infoAdminOrMember" ng-hide="!user.admin">Admin</i>
                    <i  class="infoAdminOrMember" ng-hide="user.admin"> Membre</i>
                </div>

                <button class="col col-20 button button-small button-icon new-group-bt" ng-click="excludeMember(user)" ng-disabled="user.admin">
                    <i class="icon ion-android-cancel color-red"></i>
                </button>

            </div>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>