<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- validate User Tab -->
    <ion-tab title="Validé" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox-outline" href="#/tab/manage_member">
        <ion-nav-view name="tab-validate"></ion-nav-view>
    </ion-tab>

    <!-- waiting User Tab -->
    <ion-tab title="En attente" icon-off="ion-android-checkbox-outline-blank" icon-on="ion-android-checkbox-outline-blank" href="#/tab/waiting_user">
        <ion-nav-view name="tab-waiting"></ion-nav-view>
    </ion-tab>
</ion-tabs>