<ion-view cache-view="false" view-title="manageMember">
    <ion-header-bar>
        <a ng-click="gotoEditGroup()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition des membres</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logOut()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>

      <ion-list>

        <ion-item ng-repeat="user in users" item="user">

            <div class="row">
                <label class="col col-70">   
                <span>{{ user.email }}</span>
                </label>
                <label class=" reduce item item-select">
                    <select>
                        <option ng-selected="{{user.admin}}">Membre</option>
                        <option ng-selected="{{!user.admin}}">Admin</option>
                    </select>
                </label>
                <button class="button button-small button-icon new-group-bt" ng-click="removeMember($index)">
                        <i class="icon ion-android-cancel color-red"></i>
                </button>
            </div>

      </ion-list>
    </ion-content>

    <div class="footer">
      <div class="buttons">
            <a class="button button-full button-balanced ion-checkmark" ng-click="gotoEditGroup()"> Ok </a>
        </div>
    </div>
</ion-view>