<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Nouvelle serrure</h1>
        <button class="button button-clear button-positive" ng-click="closeNewLock()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list">
            <form ng-submit="createLock()">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nom:</span>
                    <input type="text" placeholder="Nom" ng-model="lock.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Adresse Mac:</span>
                    <input type="text" placeholder="Adresse Mac " ng-model="lock.address_mac" ng-focus="reinitCase($event)">
                </label>

                <div class="row item">
                    <div class="col">Caméra:</div>
                    <div class="col">
                        <label class="toggle toggle-balanced right">
                            <input type="checkbox" ng-model="lock.has_camera">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row item">
                    <div class="col">Microphone:</div>
                    <div class="col">
                        <label class="toggle toggle-balanced right">
                            <input type="checkbox" ng-model="lock.has_micro">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row item">
                    <div class="col">Sonnette:</div>
                    <div class="col">
                        <label class="toggle toggle-balanced right">
                            <input type="checkbox" ng-model="lock.has_bell">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row item">
                    <div class="col">Enregistrer les logs:</div>
                    <div class="col">
                        <label class="toggle toggle-balanced right">
                            <input type="checkbox" ng-model="lock.is_register" ng-init="lock.is_register = true">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <label class="item font-bold">
                    Associer aux groupes :
                </label>
                <li class="item item-checkbox" ng-repeat="group in groups" ng-show="group.admin">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="group.selected">
                    </label>
                    {{group.group.name}}
                </li>

                <div class="button-bar">
                    <button id="btValidate1" class="button button-full button-balanced" type="submit">
                        <div id="msgNormal1">
                            <i class="ion-android-add-circle"></i>
                            <span>  Créer la serrure</span>
                        </div>
                        <div id="msgError1">
                            <i class="ion-alert-circled"></i>
                            <span>   {{msgBtError}}</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</div>