<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Serrure Tab -->
    <ion-tab title="Serrure" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/lock">
        <ion-nav-view name="tab-lock"></ion-nav-view>
    </ion-tab>

    <!-- Logs Tab -->
    <ion-tab title="Logs" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/logs">
        <ion-nav-view name="tab-logs"></ion-nav-view>
    </ion-tab>

    <!-- Options Tab -->
    <ion-tab title="Options" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
