<ion-view cache-view="false" view-title="waitingUser">
    <ion-header-bar>
        <a ng-click="goToEditGroup()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">Edition des membres</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logout()"> Déconnexion </a>
        </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
          <ion-item class="bgEnergized black">
              <span>#{{group.code}}: {{group.name}} -  {{users.length}} demande(s) d'accès</span>
          </ion-item>
          <ion-item ng-repeat="user in users" item="user">
            <div class="row">
                <label class="col col-60">
                    <span>{{ user.email }}</span>
                </label>
                <button class="col col-20 button button-small button-icon new-group-bt" ng-click="acceptMember(user)">
                    <i class="icon ion-checkmark-circled balanced"></i>
                </button>
                <button class="col col-20 button button-small button-icon new-group-bt" ng-click="excludeMember(user)">
                        <i class="icon ion-android-cancel assertive"></i>
                </button>
            </div>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>