<div class="row item" ng-repeat="lock in locks" >
    <div class="col col-90 cursor-point" ng-mousedown="changeColor($event,'#D9E5F3')" ng-mouseleave="changeColor($event,'')" ng-click="gotoLock(lock, group)">
        <i ng-hide="{{!lock.has_micro}}" class="ion-ios-mic"></i>
        <i ng-hide="{{lock.has_micro}}" class="ion-ios-mic-outline"></i>

        <i ng-hide="{{!lock.has_bell}}" class="ion-ios-bell"></i>
        <i ng-hide="{{lock.has_bell}}" class="ion-ios-bell-outline"></i>

        <i ng-hide="{{!lock.has_camera}}" class="ion-ios-videocam"></i>
        <i ng-hide="{{lock.has_camera}}" class="ion-ios-videocam-outline"></i>

        <i ng-hide="{{!lock.is_register}}" class="ion-ios-paper"></i>
        <i ng-hide="{{lock.is_register}}" class="ion-ios-paper-outline"></i>

        <span class="lock-margin">{{lock.name}}</span>
    </div>
    <div class="col col-10">
        <label class="toggle toggle-balanced cursor-point">
            <input type="checkbox" ng-model="lock.state" ng-change="updateLock(lock);">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </div>
</div>